<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.lccbook.mapper.AdminMapper">
    <select id="adminLogin" resultType="org.fullstack4.lccbook.domain.AdminVO">
        select admin_id, admin_pwd, admin_regdate
        from lcc_admin_member
        where admin_id=#{admin_id}
    </select>
</mapper>