<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.lccbook.mapper.BbsMapper">

    <!-- 검색 sql문 -->
    <!--<sql id="whereCondition">
        <where>
            1=1
            <if test="search_type !=null and search_type !=''">
                <foreach collection="search_type" item="type" separator=" OR ">
                    <if test="type=='t'.toString()">
                        and title like concat('%', #{search_word},'%')
                    </if>
                    <if test="type=='u'.toString()">
                        and user_id like concat('%', #{search_word},'%')
                    </if>
                </foreach>
            </if>
            <if test="search_date1 !=null and search_date1 !='' ">
                <trim prefix=" and ">
                    reg_date >= #{search_date1}
                </trim>
            </if>
            <if test="search_date2 !=null and search_date2 !='' ">
                <trim prefix=" and ">
                    ADDDATE(#{search_date2},1) >= reg_date
                </trim>
            </if>
        </where>
    </sql>-->
    <insert id="regist">
        insert into lcc_bbs(user_id,title,content,display_date,read_cnt,interest,reg_date,image,video,file)
        values (#{user_id},#{title},#{content},#{display_date},#{read_cnt},#{interest},now(),#{image},#{video},#{file})
    </insert>

    <select id="listAll" resultType="org.fullstack4.lccbook.domain.BbsVO">
        select user_id,title,content,display_date,read_cnt,interest,reg_date,image,video,file
        from lcc_bbs
        order by idx desc
    </select>

    <select id="view" resultType="org.fullstack4.lccbook.domain.BbsVO">
        select user_id,title,content,display_date,read_cnt,interest,reg_date,image,video,file
        from lcc_bbs
        where idx=#{idx}
    </select>

    <update id="modify">
        update lcc_bbs
        set title = #{title},
        content = #{content},
        interest = #{interest},
        display_date = #{display_date},
        modify_date = now(),
        image=#{image},
        video=#{video},
        file=#{file}
        where idx=#{idx}
    </update>

    <delete id="delete">
        delete
        from lcc_bbs
        where idx=#{idx}
    </delete>

    <select id="bbsTotalCount" resultType="int">
        select count(*)
        from lcc_bbs
  <!--      <include refid="whereCondition"></include>-->
    </select>

    <select id="bbsListByPage" resultType="org.fullstack4.lccbook.domain.BbsVO">
        select user_id,title,content,display_date,read_cnt,interest,reg_date,image,video,file
        from lcc_bbs
 <!--       <include refid="whereCondition"></include>-->
        order by idx desc
        limit #{page_skip_count}, #{page_size}
    </select>
</mapper>