<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.lccbook.mapper.CartMapper">

    <insert id="regist">
      <!--  insert into lcc_cart(user_id,book_idx,quantity)
        values (#{user_id},#{book_idx},#{quantity})-->
        insert into lcc_cart(user_id,book_idx,quantity,total_price,total_sale_price)
        select #{user_id},#{book_idx},#{quantity},(b.price * #{quantity}) as total_price,(b.sale_price * #{quantity}) as total_sale_price
        from lcc_book as b
        where b.book_idx = #{book_idx}

    </insert>

    <select id="list" resultType="org.fullstack4.lccbook.domain.CartVO">
        select A.cart_idx,A.user_id,A.book_idx,A.quantity,A.cart_regdate,A.checked,B.book_name,B.book_img,B.sale_price,B.price,A.total_price,A.total_sale_price
        from lcc_cart AS A
        INNER JOIN lcc_book AS B ON A.book_idx = B.book_idx
        order by cart_idx desc
    </select>

    <!-- book_name같은 경우는 join으로 book테이블에서 가져와야함 -->
    <select id="view" resultType="org.fullstack4.lccbook.domain.CartVO">
        select A.cart_idx,A.user_id,A.book_idx,A.quantity,A.cart_regdate,A.checked,B.book_name,B.book_img,B.sale_price,B.price,A.total_price,A.total_sale_price
        from lcc_cart AS A
        INNER JOIN lcc_book AS B ON A.book_idx = B.book_idx
        where cart_idx =#{cart_idx}
        order by cart_idx desc
    </select>

    <!-- 카트에 담은 책 수량 변경 -->
    <update id="modify">
        update lcc_cart as A
        inner join lcc_book as B
        ON A.book_idx = B.book_idx
        set A.quantity=#{quantity},
        A.total_price = B.price * ${quantity},
        A.total_sale_price = B.sale_price * ${quantity}
        where cart_idx=#{cart_idx}
    </update>

    <delete id="delete">
        delete
        from lcc_cart
        where cart_idx=#{cart_idx}
    </delete>

<!--    <select id="bbsTotalCount" resultType="int">
        select count(*)
        from lcc_cart
        &lt;!&ndash; <include refid="whereCondition"></include>&ndash;&gt;

    </select>-->

    <select id="checkBookExists" resultType="int">
        select count(*) from lcc_cart
        where user_id = #{user_id} and book_idx = #{book_idx}
    </select>

 <!--   &lt;!&ndash; 장바구니 -> 주문하기 목록 &ndash;&gt;
    <select id="cartOrderList" resultType="org.fullstack4.lccbook.domain.CartVO-->


</mapper>