<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.lccbook.mapper.DeliveryMapper">

    <insert id="regist">
        insert into lcc_delivery(company_name,phone_number,delivery_number,state,create_date)
        values (#{company_name},#{phone_number},#{delivery_number},#{state},now())
    </insert>

    <select id="list" resultType="org.fullstack4.lccbook.domain.DeliveryVO">
        select company_name,phone_number,start_date,end_date,delivery_number,state,create_date
        from lcc_delivery
        order by delivery_idx desc
    </select>

    <select id="view" resultType="org.fullstack4.lccbook.domain.DeliveryVO">
        select company_name,phone_number,start_date,end_date,delivery_number,state,create_date
        from lcc_delivery
        where delivery_idx=#{delivery_idx}
    </select>

    <update id="modify">
        update lcc_delivery
        set state = #{state},
        modify_date = now()
        where delivery_idx=#{delivery_idx}
    </update>

    <delete id="delete">
        delete
        from lcc_delivery
        where delivery_idx=#{delivery_idx}
    </delete>


</mapper>