<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.lccbook.mapper.InstockMapper">

    <sql id="whereCondition">
        <where>
            <if test="search_type !=null and search_type !=''">
                <foreach collection="search_type" item="type" separator=" OR ">
                    <if test="type=='t'.toString()">
                         book_idx = #{search_word}
                    </if>
                    <!--<if test="type=='u'.toString()">
                        user_id like concat('%', #{search_word},'%')
                    </if>-->
                </foreach>
            </if>
            <if test="search_date1 !=null and search_date1 !='' ">
                <trim prefix=" and ">
                    reg_date >= #{search_date1}
                </trim>
            </if>
            <if test="search_date2 !=null and search_date2 !='' ">
                <trim prefix=" and ">
                    ADDDATE(#{search_date2},1) >= reg_date
                </trim>
            </if>
            and 1=1
        </where>
    </sql>

    <insert id="regist">
        insert into lcc_instock(book_idx,delivery_number,quantity)
        values (#{book_idx},#{delivery_number},#{quantity})
    </insert>

   <select id="list" resultType="org.fullstack4.lccbook.domain.InstockVO">
        select instock_idx,book_idx,delivery_number,quantity,reg_date
        from lcc_instock
        order by instock_idx desc
    </select>

   <select id="bbsTotalCount" resultType="int">
        select count(*)
        from lcc_instock
       <include refid="whereCondition"></include>

    </select>

    <select id="bbsListByPage" resultType="org.fullstack4.lccbook.domain.InstockVO">
        select instock_idx,book_idx,delivery_number,quantity,reg_date
        from lcc_instock
        <include refid="whereCondition"></include>
        order by instock_idx desc
        limit #{page_skip_count}, #{page_size}
    </select>





</mapper>