<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.lccbook.mapper.MemberMapper">
    <insert id="join">
        insert into lcc_member(user_id,pwd,name,email,birthday,phone_number,addr1,addr2,addr_number,user_state,reg_date)
        values (#{user_id},#{pwd},#{name},#{email},#{birthday},#{phone_number},#{addr1},#{addr2},#{addr_number},"Y",now())
    </insert>


    <select id="view" resultType="org.fullstack4.lccbook.domain.MemberVO">
        select user_id,pwd,name,email,birthday,phone_number,addr1,addr2,addr_number,user_state,reg_date
        from lcc_member
        where user_id=#{user_id}
    </select>



    <update id="modify">
        update lcc_member
        set pwd = #{pwd},
        email = #{email},
        phone_number=#{phone_number},
        addr1 = #{addr1},
        addr2 = #{addr2},
        addr_number =#{addr_number}
        where member_idx=#{member_idx}
    </update>

    <delete id="delete">
        delete
        from lcc_member
        where member_idx=#{member_idx}
    </delete>

    <select id="idCheck">
        select count(*)
        from lcc_member
        where user_id=#{user_id}
    </select>


</mapper>