<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.lccbook.mapper.PaymentMapper">

    <insert id="registOrder" >
        insert into lcc_order(user_id)
        values (#{user_id})
    </insert>

    <select id="lastindex">
        SELECT LAST_INSERT_ID(payment_idx) FROM lcc_order order by payment_idx desc LIMIT 1
    </select>

<!--    <insert id="registOrder" useGeneratedKeys="true" keyProperty="payment_idx" keyColumn="payment_idx" >-->
<!--        insert into lcc_order(user_id)-->
<!--        values (#{user_id})-->

<!--        <selectKey keyColumn="payment_idx" keyProperty="payment_idx" resultType="int" order="AFTER">-->
<!--            SELECT payment_idx-->
<!--            FROM lcc_order-->
<!--            -->

<!--        </selectKey>-->

<!--    </insert>-->




    <insert id="regist">

        insert into lcc_payment(payment_idx,book_idx, product_price,product_sale_price,product_name,product_quantity,user_id,
        recipient_name,recipient_phone,recipient_addr1,recipient_addr2,recipient_email,recipient_zipcode,
        payment_amount,payment_delivery_fee,delivery_memo)

        values (#{payment_idx},#{book_idx},#{product_price},#{product_sale_price},#{product_name},#{product_quantity},#{user_id},
        #{recipient_name} ,#{recipient_phone},#{recipient_addr1},#{recipient_addr2},#{recipient_email},#{recipient_zipcode}
        ,#{payment_amount},#{payment_delivery_fee},#{delivery_memo})

    </insert>

    <select id="list" resultType="org.fullstack4.lccbook.domain.PaymentVO">
        select payment_idx,book_idx,price,quantity,quantity,total,product_name , user_id, recipient_name,recipient_phone ,payment_method ,payment_company ,payment_number
        , payment_amount,payment_status ,payment_date,recipient_addr ,recipient_addrnum ,order_state
        from lcc_payment
        order by payment_idx desc
    </select>

    <select id="listUser" resultType="org.fullstack4.lccbook.domain.PaymentVO">
        select payment_idx,book_idx,price,quantity,quantity,total,product_name , user_id, recipient_name,recipient_phone ,payment_method ,payment_company ,payment_number
        , payment_amount,payment_status ,payment_date,recipient_addr ,recipient_addrnum ,order_state
        from lcc_payment
        where user_id = #{user_id}
        order by payment_idx desc
    </select>

    <select id="view" resultType="org.fullstack4.lccbook.domain.PaymentVO">
        select payment_idx,book_idx,price,quantity,quantity,total,product_name , user_id, recipient_name,recipient_phone ,payment_method ,payment_company ,payment_number
        , payment_amount,payment_status ,payment_date,recipient_addr ,recipient_addrnum ,order_state
        from lcc_payment
        where payment_idx=#{payment_idx}
    </select>

    <!-- 결제상태,주문상태 변경 -->

    <update id="modify">
        update lcc_payment
        set payment_status=#{payment_status},
        order_state = #{order_state}
        where payment_idx=#{payment_idx}
    </update>

    <delete id="delete">
        delete
        from lcc_payment
        where payment_idx=#{payment_idx}
    </delete>

<!--    <select id="bbsTotalCount" resultType="int">
        select count(*)
        from payment_idx
        &lt;!&ndash; <include refid="whereCondition"></include>&ndash;&gt;

    </select>-->
</mapper>