<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.lccbook.mapper.QnaMapper">

    <insert id="regist">
        insert into lcc_qna(user_id,question_title,question_content,question_regdate)
        values (#{user_id},#{question_title},#{question_content},now())
    </insert>

    <select id="list" resultType="org.fullstack4.lccbook.domain.QnaVO">
        select user_id, question_title,question_content,question_regdate
        from lcc_qna
        order by qna_idx desc
    </select>

    <select id="view" resultType="org.fullstack4.lccbook.domain.QnaVO">
        select user_id, question_title,question_content,question_regdate
        from lcc_qna
        where qna_idx=#{qna_idx}
    </select>

    <update id="modify">
        update lcc_qna
        set question_title = #{question_title},
        question_content = #{question_content},
        question_modifydate = now()
        where qna_idx=#{qna_idx}
    </update>

    <delete id="delete">
        delete
        from lcc_qna
        where qna_idx=#{qna_idx}
    </delete>

   <!-- <select id="bbsTotalCount" resultType="int">
        select count(*)
        from lcc_qna


        &lt;!&ndash; <include refid="whereCondition"></include>&ndash;&gt;

    </select>

    <select id="bbsListByPage" resultType="org.fullstack4.lccbook.domain.NoticeVO">
        select user_id, question_title,question_content,question_regdate
        from lcc_qna

        &lt;!&ndash;  <include refid="whereCondition"></include>&ndash;&gt;

        order by qna_idx desc
        limit #{page_skip_count}, #{page_size}
    </select>-->

    <!-- ################ 질문 등록 ###################################-->

   <!-- <insert id="answer_regist">
        insert into lcc_qna(answer_id,answer_content,answer_regdate,answer_yn)
        values (#{answer_id},#{answer_content},now(),"Y")
        where qna_idx =#{qna_idx}
    </insert>-->


    <!-- 답변등록 -->


    <!-- -->


<!--
    <select id="bbsListByPage" resultType="org.fullstack4.lccbook.domain.QnaVO">
        select idx, content,title,reg_date,notice_state
        from lcc_notice

        &lt;!&ndash;  <include refid="whereCondition"></include>&ndash;&gt;

        order by notice_idx desc
        limit #{page_skip_count}, #{page_size}
    </select>-->

</mapper>